/*-- setting border box on all elements inside the grid --*/
.gridsys-container *{
    box-sizing: border-box; 
}

.gridsys-container{
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto;      
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table;
    clear:both;
}

.row:after{
    margin-bottom: 10px;
}

[class*='grid-'] {
    float: none; 
    min-height: 1px; 
    width: 100%;
    padding: 0em 1em; 
    position: relative;
}

@include breakpoint($medium-2){
    [class*='grid-'] {
        float: left; 
        min-height: 1px; 
        width: 16.66%;
        position: relative;
    }    




    .grid-1{ width: 8.33%; }
    .grid-2{ width: 16.66%; }
    .grid-3{ width: 25%; }
    .grid-4{ width: 33.33%; }
    .grid-5{ width: 41.66%; }
    .grid-6{ width: 50%; }
    .grid-7{ width: 58.33%; }
    .grid-8{ width: 66.66%; }
    .grid-9{ width: 75%; }
    .grid-10{ width: 83.33%; }
    .grid-11{ width: 91.66%; }
    .grid-12{ width: 100%; }

}

.offset-1{ margin-left: 8.33%; }
.offset-2{ margin-left: 16.66%; }
.offset-3{ margin-left: 25%; }

.push-3{ left: 25%; }
.push-6{ left: 50%; }

.pull-9{ right: 75%; }
.pull-6{ right: 50%; }

.space-top-3{
    margin-top: 1.5em;
}
