---
layout: page
url: chapter-1
title: Chapter 1
slug: chapter-1
subtitle: What are health IT standards?
description: Health IT standards enable products to more easily communicate with each other. Learn more about vocabulary/terminology, format, and transport standards.
twitter: Health IT standards enable products to more easily communicate with each other.
billboardClass: chapter1-billboard
billboard-image: chapter1.jpg

subnav:
- section-num: 1.1 
  section-title: What can't standards do?


navigation_weight: 2
---


{% include social-links.html %}

{% include billboard_both.html %}


<div class="section-header">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>Standards enable software that is designed by different companies to understand how to exchange data among different computer systems and interpret complicated medical concepts in the same ways humans do. Outside of health information technology (health IT), standards are often used to allow products and devices to work together. For example, everyone has a number of devices that use Bluetooth technology to connect together, like a smartphone to a fitness tracker, printers, or even a car. These devices are all able to connect to each other because they use a standard that tells the devices how to connect. Another example is Automated Teller Machines (ATMs). When ATMs were first introduced, customers could only use the ATM at the bank that issued their card. Over time, the banking network we know today was formed that enables you to take out money regardless of the bank that issued you the card.</p>

				<p>There are a range of standards that cover everything from how data is coded to how it is shared, including but not limited to:</p>
			</div>
		</div>
	</div>
</div>

<div class="section-header" id-"slider-block">
	<div class="content">
		<div class="slide-wrap">
			<div class="standards-slides-container">

				<div class="slide" id="slide2" aria-hidden="false">
					<div class="row">
						<div class="grid-12">
							<span><img class="slide-icon" src="{{site.baseurl}}/assets/img/vocabicon.png" alt=""></span>
							<p><b>Vocabulary/Terminology standards: </b>Vocabulary standards determine how individual data elements are structured when they are recorded in software and represented in a transmission. For example, when a provider adds a temperature reading to a patient’s chart in an EHR system, the system will automatically link that reading to a “units of measure” standard, so if that information is passed along to another provider, the receiving provider will know that the number is either Celsius or Fahrenheit. Likewise, when a provider orders a medication for a patient, the system will automatically link the medication to an RxNorm code that will be electronically transmitted to the pharmacy. The RxNorm code enables a separate pharmacy IT system to interpret in a computable way the type of prescription intended to be dispensed. </p>
						</div>
					</div>
				</div>

				<div class="slide" id="slide3" aria-hidden="true">
					<div class="row">
						<div class="grid-12">
							<span><img class="slide-icon" src="{{site.baseurl}}/assets/img/formaticon.png" alt=""></span>
							<p><b>Format standards: </b>A single clinical data element like temperature or blood pressure is rarely shared electronically with another system for a patient. Typically a summary of clinical information such as medications, problems, allergies, and lab results is shared. When a health IT system receives this summary information, it has to be able to interpret it, which requires knowing what data will be in what locations, and the vocabulary standard(s) in which the data will be represented. This is done via format standards, like the Consolidated Clinical Document Architecture (C-CDA) standard, which specifies pre-defined summary of care document templates like continuity of care document or discharge summary.</p>
						</div>	
					</div>
				</div>

				<div class="slide" id="slide4" aria-hidden="true">
					<div class="row">
						<div class="grid-12">
							<span><img class="slide-icon" src="{{site.baseurl}}/assets/img/transporticon.png" alt=""></span>
							<p><b>Transport standards: </b>Transport standards are how the data gets from point A to point B. We use transport standards every day in the non-clinical world when we send emails. Prior to the adoption of these standards, individuals with a corporate e-mail account could not share emails with someone outside of their organization. Transport standards allow for the secure exchange of data across the internet, but each product has to follow the same transport standard or exchange will not occur. While some transport standards, like Direct are similar to email, other transport standards allow for more real-time connectivity, like APIs using the FHIR standard, which will allow a user’s software to make specific data requests on an as-needed basis.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="slide-nav" >
				<ul class="slide-location">
					<li><a href="" data-slide='1'>1</a></li>
					<li><a href="" data-slide='2'>2</a></li>
					<li><a href="" data-slide='3'>3</a></li>
				</ul>

				<a class="btn btn-previous" href="{{site.baseurl}}/chapter-1"><span aria-hidden="true">&larr;</span> Previous</a>
				<a class="btn btn-next" href="{{site.baseurl}}/chapter-1">Next <span aria-hidden="true">&rarr;</span></a>
			</div>
		</div>
	</div>
</div>



<div class="section-header" id="section1.1" name="section1.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">1.1</span>{{ page.subnav[0].section-title }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="section-header">
	<div class="content">
		<div class="row">
			<div class="grid-12">
			
				<p>When standards are used consistently, there can be a high degree of interoperability among the various health IT systems used by providers. However, it is important that the appropriate standard is used for what is often referred to as a “use case” (the purpose/business reason for which data is to be exchanged). Often there are several standards from which to choose for a given interoperability need and care must be taken in selecting the most appropriate standard for implementation. Additionally, standards typically allow for customization based on local policies and regulations. These are provided to the developers as additional implementation guidance and can sometimes cause interoperability challenges, even when using the same standard.</p>

				<p>Finally, it is important for providers to ask and make sure their software is configured to use standards correctly. This is especially important, when using vocabulary standards to capture clinical information. For example, if a medication is not recorded correctly using the appropriate medication code (using RxNorm standard), then, when the information is passed to another health IT system, the receiving health IT system may interpret the information incorrectly.</p>
			</div>
		</div>
	</div>
</div>



{% include upper-footer.html %}