---
layout: page
url: chapter-3
title: Chapter 3
slug: chapter-3
subtitle: How can you get involved?
description: An introduction to the most common SDOs in Health IT and how to join the collaborative standards development process.
twitter: An introduction to the most common SDOs in Health IT.
billboardClass: chapter3-billboard
billboard-image: chapter3.jpg

subnav:
- section-num: 3.1 
  section-title: What are the most common health IT standards?
- section-num: 3.2
  section-title: Who are the SDOs?

navigation_weight: 4
---


{% include social-links.html %}

{% include billboard_both.html %}



<div class="section-header" id="section3.1" name="section3.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.1</span>{{ page.subnav[0].section-title }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>The most common health IT standards focus on allowing for the electronic recording and exchange of data. The most common standards in healthcare and in use by government programs include: </p>
					<ul>
						<li>C-CDA for sending transitions of care and providing electronic information to patients;</li>
						<li>HIPAA 5010 X12 transaction standards, such as 270, 271, 834, 835, and 837 for administrative transactions;</li>
						<li>ICD-10 for coding diagnosis on claims;</li>
						<li>RxNorm for coding medications and medication allergies; and</li>
						<li>SCRIPT for sending electronic prescriptions.</li>
					</ul>

				<p>ONC’s 2015 Edition Certification Criteria includes a number of standards that health IT developers must build into their products if they are pursuing certification (see <a href="https://www.healthit.gov/policy-researchers-implementers/meaningful-use-stage-2-0/2015-standards-hub">Standards Hub</a>). ONC has also provided the <a href="https://www.healthit.gov/standards-advisory">Interoperability Standards Advisory (ISA)</a> that provides a list of interoperability standards and implementation standards for industry use to fulfill specific clinical health IT interoperability needs. In addition, the National Library of Medicine is a steward for vocabulary standards and maintains a <a href="https://www.nlm.nih.gov/hit_interoperability.html" rel="noopener noreferrer" target="_blank">Hub</a> for vocabulary standards that provides users with an explanation of each vocabulary standard and easy access to the vocabulary standards used to support interoperability.</p>
			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section3.2" name="section3.2">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">3.2</span>{{ page.subnav[1].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>While there are roughly 40 SDOs in the healthcare space, below is a list of the most common SDOs that provide health IT standards. 
					<ul>
						<li><a href="http://www.hl7.org/" rel="noopener noreferrer" target="_blank">HL7 – Health Level 7 International</a></li>
						<li><a href="http://www.x12.org/" rel="noopener noreferrer" target="_blank">ASC X12 – Accredited Standards Committee X12</a></li>
						<li><a href="http://www.ncpdp.org/" rel="noopener noreferrer" target="_blank">NCPDP – National Council for Prescription Drug Programs</a></li>
						<li><a href="http://www.ihe.net/" rel="noopener noreferrer" target="_blank">IHE – Integrating the Healthcare Enterprise</a></li>
						<li><a href="http://www.iso.org/iso/home.html" rel="noopener noreferrer" target="_blank">ISO – International Organization for Standardization</a></li>
						<li><a href="http://dicom.nema.org/" rel="noopener noreferrer" target="_blank">DICOM – Digital Imaging and Communications in Medicine</a></li>
						<li><a href="http://loinc.org/" rel="noopener noreferrer" target="_blank">Regenstrief Institute (LOINC Codes)</a></li>
						<li><a href="https://www.cms.gov/Medicare/Coding/ICD10/index.html" rel="noopener noreferrer" target="_blank" >CMS (ICD-10)</a></li>
						<li><a href="http://www.ihtsdo.org/" rel="noopener noreferrer" target="_blank">International Health Terminology Standards Development Organization (IHTSDO)</a></li>
						<li><a href="https://www.cdisc.org/" rel="noopener noreferrer" target="_blank">CDISC – Clinical Data Interchange Standards Consortium</a></li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>




{% include upper-footer.html %}