---
layout: page
url: /chapter-2
title: Chapter 2
slug: chapter-2
subtitle: Standards Development Organizations
billboardClass: chapter2-billboard

subnav:
- section-num: 2.1 
  section-title: What are Standards Development Organizations (SDOs)?
- section-num: 2.2 
  section-title: Who is involved in SDOs
- section-num: 2.3 
  section-title: How do SDOs work?

navigation_weight: 3
---


{% include social-links.html %}

{% include billboard_both.html %}

<!--
<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae veritatis dignissimos velit perspiciatis dolores mollitia iste quam nemo, quibusdam, fugiat ea beatae voluptate. Vel, architecto, labore. A impedit, pariatur facere.</span><span>Maxime deserunt ea excepturi voluptatibus, laborum quibusdam nemo consequuntur, hic natus maiores rem quia alias. Doloremque, at. Dicta sapiente, explicabo, quaerat neque numquam magnam eligendi illo nemo mollitia tempore vero.</span></p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi distinctio sunt laudantium vitae, eaque mollitia magni ipsum dolor molestias voluptatibus ex ea enim ratione, officia expedita nulla laborum minima! Vitae.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ipsa dicta aut accusamus tempora cumque eaque, nostrum. Error harum, provident nihil consectetur amet voluptas. Sint voluptatum cumque, nisi vitae labore.</p>
			</div>
		</div>
	</div>
</div>
-->


<div class="section-header" id="section2.1" name="section2.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">2.1</span>{{ page.subnav[0].section-title }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>SDOs are organizations who work collaboratively with industry stakeholders such as health care providers, insurers, health IT software developers, patients, care givers, and others to develop and maintain standards to meet industry needs. Many SDOs are international organizations with U.S. branches, and there are at least 40 SDOs who currently develop and maintain standards for the healthcare field. A single SDO may only develop one standard, or they may have hundreds of standards, depending on the mission or interests of the organization.</p>
			</div>
		</div>
	</div>
</div>


<div class="section-header" id="section2.2" name="section2.2">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">2.2</span>{{ page.subnav[1].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p>Many of the largest SDOs have a set of paid staff members who manage the administrative aspects of the SDOs, like finances, scheduling, organization of workgroups, etc. But for the most part, the individuals who participate in the SDOs and who actually build the standards are volunteers who participate in SDO activities in their free time.  Building good standards requires a wide range of knowledge and skills, so that standards meet business/clinical needs and work well from a technology perspective. Workgroup members, include but are not limited to: clinicians and healthcare administrators who understand the business need, clinical informaticists who understand clinical ideas and technology, software developers, engineers, IT professionals who understand technology, and government agencies who understand regulatory requirements.</p>
			</div>
		</div>
	</div>
</div>

<div class="section-header" id="section2.3" name="section2.3">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">2.3</span>{{ page.subnav[2].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				
				<p>The majority of SDOs have detailed internal processes on how standards are developed and maintained, most often through the use of workgroups. Workgroups typically focus on a single standard or piece of a standard, or a single business need. SDOs use workgroups to pull together the right mix of individuals who have enough knowledge to develop and maintain a particular standard. Though each SDO has a slightly different process for developing new standards, generally they follow the workflow process below. Note that developing a new standard may take years in order to move through the balloting and piloting process. In particular, piloting a standard for a length of time is important to make sure the final standard works well in the real-world.</p>

			</div>
		</div>
	</div>
</div>

<div class="section highlight">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p><img src="/assets/img/sdo_workflow_review.jpg" alt=""></p>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">

				<p>Once new standards are developed, SDOs must maintain them over time, fixing issues and adding new capabilities as the use case changes. While the maintenance process is similar to the development process, there is some variation. Again, each SDO has a slightly different process, but generally follows the process below. Note that this process may take months or more than a year to complete, depending on the priority level of the fix. Critical issues will be addressed more quickly, while enhancement requests may take more than a year to address.</p>

			</div>
		</div>
	</div>
</div>

<div class="section highlight">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<p><img src="/assets/img/sdo_workflow_maintenance.jpg" alt=""></p>
			</div>
		</div>
	</div>
</div>

{% include upper-footer.html %}