---
layout: page
url: chapter-4
title: Chapter 4
slug: chapter-4
subtitle: Raise an issue
billboardClass: chapter4-billboard
billboard-image: chapter4.jpg

subnav:
- section-num: 4.1 
  section-title: What if you have an issue with a standard or would like an enhancement?


navigation_weight: 999
---




{% include billboard_both.html %}


<div class="section-header" id="section4.1" name="section4.1">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<h2><span class="section-number">4.1</span>{{ page.subnav[0].section-title }}</h2>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="content">
		<div class="row">
			<div class="grid-12">
				<div>
					<p>SDOs typically have varying levels of membership that can range from providing individuals with the opportunity to provide feedback on standards to allowing individuals to prioritize and develop standards. If you have encountered an issue with a particular standard in the field, you can engage with the SDO directly to provide them feedback on the standard. Alternately, if you are unsure of how to engage with these organizations, you can provide your feedback directly to ONC, who will work with the SDO to help them understand what your issue might be.</p>
					

					
					<!--<a href="https://oncprojectracking.healthit.gov/sdo-issue-tracker" target="_blank">Create an Issue</a>-->
				</div>
				<div class="text-center create">
					<a class="btn btn-chapter" href="https://oncprojectracking.healthit.gov/sdo-issue-tracker" target="_blank">Create an Issue</a>
				</div>
			</div>
		</div>
	</div>
</div>




{% include upper-footer.html %}