---
layout: page
url: share-your-feedback
title: Share your feedback
slug: share_feedback
description: 
billboardClass: feedback-billboard
billboard-image: bg-feedback.jpg

navigation_weight: 999
---

{% include billboard_title_only.html %}

<div class="content">
	<div class="row">
		<div class="grid-12">
			<p>Have suggestions for making the Playbook better? Want to share a patient portal tip or trick that’s worked in your office? Tell us!</p>


			<form class="feedback-form" action="https://formspree.io/your@email.com" method="POST">
				<!-- location of custome thank you for submitting page -->
			    <input type="hidden" name="_next" value="{{site.baseurl}}/thank-you">
			    <!-- adds subject to the email -->
			    <input type="hidden" name="_subject" value="Registrar Playbook Feedback">
			    <!-- add emails to cc these requests -->
			    <input type="hidden" value="_cc" value="">
			    <!-- used to fool scrapers and avoid spam -->
			    <input type="text" name="_gotcha" style="display:none" id="gotcha" />
				<label for="gotcha" style="display:none"></label>
			    <p>
			    	<label for="name">Name:</label>
			    	<br>
			    	<input type="text" id="name" name="name">
			    </p>
			    <p>	
			    	<label for="email">Email:</label>
			    	<br>
			    	<input type="email" id="email" name="email" >
			    </p>

			    <p>
			    	<label for="comment">Comment:</label>
			    	<br>
			    	<textarea name="comment" id="comment" rows="6" spellcheck="true" aria-multiline="true"></textarea>
			    </p>
			</form>
			
		</div>
	</div>
</div>

{% include upper-footer.html %}