.footer{
	padding-top: 2em;
	padding-bottom: 1em;
	.footer-links{
		float: left;
		a{
			color: $black;
			font-size: .8em;
			margin-right: 1em;
		}
	}
	.footer-logos{
		float: left;
		clear: left;
		margin-top: 0;
		a{
			margin-right: .5em;
		}
	}
}

.footer::after {
    content: "";
    display: table;
    clear: both;
}

@include breakpoint($large){
	.footer .footer-logos{
		clear: none;
		float: right;
		a{
			margin-left: .5em;
			margin-right: 0;
		}
	}
}

.next{
	margin: 3em 0;
	.btn-chapter{
		font-size: 1.4em;
		padding: .75em 1.5em;
	}
}

.btn-chapter{
	background-color: $blue;
	border: 1px solid $blue;
	color: #FFF;
}


.btn-chapter:hover{
	background-color: #FFF;
	border: 1px solid $blue;
	color: $blue;
}

.btn-chapter:focus {
    background-color: #fff;
    border-color: $blue;
    color: $blue;
}

.panel{
	background-color: $off-white;
	border: 1px solid $off-white;
	padding: 1em;
}

.comments{
	padding-top: 0;
	padding-bottom: .5em;
}

.row .row [class*="grid-"]{
	padding-left: 0;
}