.footer{
	padding-top: 2em;
	padding-bottom: 1em;
	.footer-links{
		float: left;
		a{
			color: $black;
			font-size: .8em;
			margin-right: 1em;
			display: block;
		}
	}
	.footer-logos{
		float: left;
		clear: left;
		margin-top: 0;
		a{
			margin-right: .5em;
		}
	}
}

.footer::after {
    content: "";
    display: table;
    clear: both;
}

@include breakpoint($large){
	.footer .footer-links a{
		display: inline; 
	}
	.footer .footer-logos{
		clear: none;
		float: right;
		a{
			margin-left: .5em;
			margin-right: 0;
		}
	}
}

.next{
	margin: 3em 0;
	.btn-chapter{
		font-size: 1.4em;
		padding: .75em .75em;
	}
}


@include breakpoint($medium){
	.next{
		margin: 3em 0;
		.btn-chapter{
			font-size: 1.4em;
			padding: .75em 1.5em;
		}
	}	
}



.panel{
	background-color: $off-white;
	border: 1px solid $off-white;
	padding: 1em;
}

.comments{
	padding-top: 0;
	padding-bottom: .5em;
	.row:after{
		margin-bottom: 0px;
	}
}

.row .row [class*="grid-"]{
	padding-left: 0;
}

.comments .grid-8{
	padding: 0;
	padding-right: 1em;
}

.comments h3{
	font-weight: 700;
	margin-bottom: 0em;
	margin-top: 1em;
}

.comments p{
	margin-bottom: .5em;
	margin-top: .5em;
}

.btn-feedback{
	padding: .4em .75em;
}

.lower-footer{
	border-bottom: 2px solid $off-white;
	border-top: 2px solid $off-white;
	padding-top: .25em;
	margin-top: 4em;
	.grid-9{
		padding: 0;
		padding-right: 1em;
	}
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}



.sharing-footer .social{
	background-color: #fff;
	position: static;
	padding-left: 0em;
	.print-btn{
		background-image: url('../../assets/img/icon-print-black.png');
		color: black;
		&:hover{
			border: 2px solid $black;
		}
	}
	.social-btn:hover{
		border: 2px solid $black;
	}
}

