.skip{
	position: absolute;
	left: -9999px;
	padding: .5em;
	margin: .5em;
	display: block;
}

.skip:focus{
	left: 9999px;
	position: static;
}

.main{
	height: 1500px;
}

@include breakpoint($large){
	.main{
		margin-left: 20.5em;
	}
}

.chapter-top{
	margin-bottom: 3em;
	padding-top: 20em;
}

.chapter-title-wrap{
	background-color: rgba(50, 50, 50, 0.8);
	color: #FFFFFF;
	padding: 1em 0 1em 1.5em;
}

@include breakpoint($medium){
	.chapter-title-wrap{
		margin-left: 2.5em;
	}
}

.chapter{
	color: $yellow;
	font-size: 1.4em;
	margin: 0;
	font-family: "museo-slab", serif;
}

.chapter-head{
	border-bottom: 3px solid $green;
	font-size: 2.5em;
	margin-top: 0;
	padding-bottom: .4em;
	font-family: "museo-slab", serif;
}


