.header .site-name{
	display: none;
}

@include breakpoint($large){
	.header .site-name{
		display: block;
	}
}

.nav li{
	border-bottom: 1px solid $gray-lighter;
    position: relative;
    background-color: #FFF;
    a{
    	display: block;
    	padding: .5em 2.75em .5em 1em;
    	color: black;
    }
}

.nav li a:hover{
	background-color: $green-lightest;
}

.nav li.current{
	background-color: $green-light;
}

.nav{
	overflow: auto;
	position: fixed;
	width: 20.5em;
	bottom: 0;
	top: 6em;
	ul.page-nav{
		font-family: "raleway",sans-serif;
		margin-bottom: 1em;
	}
}

@include breakpoint($large){
	.nav{
		top: 10.5em;
	}
}

.sidebar{
	width: 20.5em;
	height: 100vh;
	position: fixed;
	background-color: #FFFFFF;
	z-index: 30;
	left: 0;
	transition: left .15s ease;
	.site-name{
		padding: 1em;
		img{
			display:block;
			margin: 0 auto;
		}
	}
	.search{
		background-color: $off-white;
		max-width: 20.5em;
		padding: .75em 1.25em;
		.search-label{
			display: block;
		    float: left;
		    font-family: "raleway",sans-serif;
		    font-weight: 400;
		    margin-bottom: 0;
		    margin-top: .25em;
		    width: 25%;
		}
	}
}

.sidebar.closed{
	left: -20.5em;
	transition: left .15s ease;
}

.sidebar{
	box-shadow: 0 0 0 0;
}

@include breakpoint($large){
	.sidebar.closed{
		display: block;
		left: 0;
	}
	.sidebar{
		box-shadow: 0.5em 0 1.5em rgba(50,50,50,0.15);
	}
}

.search-bar-wrap{
	background-color: #FFFFFF;
    border: 1px solid $gray-lighter;
    border-radius: .25em;
    display: block;
    float: right;
    width: 75%;
    position: relative;
    .search-query{
    	background-color: transparent;
	    border: 0;
	    height: 1.5em;
	    padding-left: .3em;
	    width: 85%;
    }
	.search-button{
		background-color: $blue;
		border: 1px solid $blue;
		border-top-right-radius: .25em;
		border-bottom-right-radius: .25em;
		font-family: "raleway",sans-serif;
		height: 100%;
		position: absolute;
		right: 0;
		width: 15%;
		padding: 0;
		margin: 0;
		img{
			background-color: #1479bd;
		    display: block;
		    width: 1.35em;
		    margin: 0 auto;
		    padding: 0;
		}
	}	
}

.nav-group{
	.section-title{
		color: $black;
		display: block;
	}
	.section-subtitle{
		color: $black;
		display: block;
		font-size: .8em;
		line-height: 1.5;
	}
}

.btn{
	border: 1px solid #37836b;
	border-radius: .25em;
	cursor: pointer;
	background-color: #FFFFFF;
	
}

.btn:hover{
	transition: all .4s;
}

.arrow-img-down{
	background-image: url('../../assets/img/icon-arrow-green-down.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: .8em;
	text-indent: -9999px;
}

.arrow-img-up{
	background-image: url('../../assets/img/icon-arrow-green-up.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: .8em;
	text-indent: -9999px;	
}

.arrow-img-right{
	background-image: url('../../assets/img/icon-arrow-green-right.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: .8em;
	text-indent: -9999px;	
}

.nav .toggle-switch{
	width: 1.5em;
	height: 1.5em;
	padding: .5em;
	text-align: center;
	display: block;
	position: absolute;
	right: .5em;
	top: 1em;
}

.subnav{
	display: none;
	li > a{
		font-size: .75em;
		line-height: 1.5;
		padding-left: 1.5em;
		background-color: #FFFFFF;
	}
}

.subnav-expanded{
	display: block;
}

.has-sub-nav.current{
	border: 1px solid $green;
}

.nav-footer{
	text-align: center;
}