<div class="content">
	<div class="row">
		<div class="grid-12">
			<div class="footer">
				<p class="footer-links">
					<a href="http://www.hhs.gov/Privacy.html" rel="noopener noreferrer" target="_blank">Privacy Policy</a>
        			<a href="http://www.healthit.gov/newsroom/web-site-disclaimers">Website Disclaimers</a>
        			<a href="http://www.hhs.gov/plugins.html" rel="noopener noreferrer" target="_blank">Videos/Players</a>
				</p>
				<p class="footer-logos">
					<a href="https://www.usa.gov/" rel="noopener noreferrer" target="_blank"><img src="{{site.baseurl}}/assets/img/logo-usagov.png" alt="USA.gov"></a>
        			<a href="https://www.whitehouse.gov/" rel="noopener noreferrer" target="_blank"><img src="{{site.baseurl}}/assets/img/logo-whitehouse.png" alt="whitehouse.gov"></a>
        			<a href="http://www.hhs.gov/" rel="noopener noreferrer" target="_blank"><img src="{{site.baseurl}}/assets/img/logo-hhs.png" alt="HHS.gov"></a>
        			<a href="https://www.healthit.gov/"><img src="{{site.baseurl}}/assets/img/logo-healthit.png" alt="HealthIT.gov"></a>
				</p>
			</div>
			
		</div>
	</div>
</div>

