<!-- get list of only the pages with an html extention and put them in navigation order-->
{% assign next_links = site.html_pages | sort: 'navigation_weight' %}
{% assign next_to_last = next_links | size | minus: 2 %}

<div class="content upper-footer">
	<div class="row">
		<div class="grid-12">
			<div class="next">
				<p class="text-center">
				
				{% for n in next_links %}
					<!-- find the currently displayed page -->
					{% if n.title == page.title and n.title != next_links[next_to_last].title %}
						<!-- only enter if this is not the last page -->
						{% unless forloop.last %}
							<!-- forloop.index starts at one so this is displaying the page after current -->
							<a class="btn btn-chapter" href="{{site.baseurl}}/{{ next_links[forloop.index].slug }}">
								Go to {{ next_links[forloop.index].title }}<span aria-hidden="true"> &rarr;</span>
							</a>

						{% endunless %}

					{% endif %}

				{% endfor %}

				</p>
			</div>
			{% include join_conversation.html %}
		</div>
	</div>
</div>


