.chapter1-billboard{
	background-image: url('../../assets/img/chapter1.jpg');
	background-position: 0% 30%;
	background-repeat: no-repeat;
	background-size: cover;
}

@include breakpoint($medium-2){
	.chapter1-billboard{
		background-position: 20% top;
	}
}

.content{
	max-width: 55em;
	margin: 0px auto;
	padding-left: .75em;
	padding-right: .75em;
}

@include breakpoint($medium-2){
	.content{
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

.section-header h2{
	margin-bottom: .25em;
	margin-top: .75em;
	font-size: 2em;
}


.section-number{
	border: 1px solid $black;
	border-radius: 3em;
	display: block;
	font-size: .8em;
	height: 2.25em;
	width: 2.25em;
	text-align: center;
	padding: .35em .5em;
	margin-right: .5em;
	margin-top: -.25em;
}

@include breakpoint ($large){
	.section-number{
		float: left;
	}
	.section-header h2{
		font-size: 2.5em;
	}	
}

.slide-wrap{
	border: 1px solid black;	
}

.slide{
	display: inline;
	min-height: 20em;
	background-color: $blue-dark;
	color: #fff;
	padding: .5em;
	p{
		font-size: 1.125em;
		line-height: 1.5em;
	}	
}

@include breakpoint($medium){
	.slide{
		padding: 1em;
	}
}

#slider-block{
    padding-bottom: 2em;
    padding-top: 2em;
}

.slide-icon{
	width: 7em;
	float: left;
	margin: 0 .25em 0 0;
}


@include breakpoint($medium){
	.slide-icon{
		width: 12em;
		margin: 0 1em 0 0;
	}
}


.slide-nav{
	position: relative;
	padding: .5em;
	.btn-next{
		position: absolute;
		bottom: 0;
		right: 0;
		padding: .5em;
		margin: .5em .75em .5em 0;
	}
	.btn-previous{
		position: absolute;
		bottom: 0;
		left: 0;
		padding: .5em;
		margin: .5em 0 .5em .75em;
	}
}

.btn-next:hover{
	background-color: $blue;
	border-color: $blue;
	color: #FFF;
}

.btn-previous:hover{
	background-color: $blue;
	border-color: $blue;
	color: #FFF;
}

.absolute{
	position: absolute;
}

.slide-hidden{
	display: none;
}

.slide-visible{
	display: inline-block;
}

.slide-location{
	display: block;
	margin: .25em auto 3em auto;
	max-width: 19em;
	text-align: center;
}

@include breakpoint($medium){
	.slide-location{
		margin: .25em auto;
	}
}

.slide-location > li{
	display: inline;
	font-size: 1.125em;
	line-height: 1.5em;
}

.slide-location a{
	border: 1px solid $gray;
	border-radius: 1em;
	color: $black;
	display: inline-block;
	line-height: 1;
	padding: .4em .5em .5em;
	width: 2em;
	transition: all .3s;
}

.active-slide{
	background-color: $yellow;
}