<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SDO Education Playbook</title>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" media="screen">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/print.css" media="print">
	<script src="{{site.baseurl}}/assets/js/libs/modernizr/modernizr-custom.js"></script>

	
	<script src="https://use.typekit.net/nvj0nzb.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	
</head>
<body>
	<a href="#top-of-page" class="skip">Skip to content</a>
	<div class="content-wrap">
		
		{% include mobile_menu.html %}

		{{ content }}
	
		
	</div>
</body>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/libs/jquery/jquery-3.1.0.min.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>






</html>