---
layout: default
---

<div class="wrapper">
	<div class="sidebar closed">
		<div class="header">
			<div class="site-name">
				<a href="https://www.healthit.gov">
					<img src="{{site.baseurl}}/assets/img/ONC_Logo_high_resolution.png" alt="ONC logo">
				</a>
			</div>
			<form class="search" role="search" accept-charset="utf-8" method="get" action="https://search.usa.gov/search/docs">
				<label for="query" class="search-label">Search</label>
				<div class="search-bar-wrap">
					<input type="hidden" name="dc" value="3622">
					<input type="hidden" name="utf8" value="&#x2713;">
					<input type="hidden" name="affiliate" value="">
					<input autocomplete="off" class="search-query" type="text" id="query" name="search" role="textbox" >
					<button class="search-button" type="submit">
						<img src="{{site.baseurl}}/assets/img/icon-search-white.png" alt="Search">
					</button>
				</div>
			</form>
			
		</div>
		
		{% include nav.html %}

	</div>
	<div class="main page-content" id="top-of-page" >
		<div class="overlay"></div>

		{{ content }}



		{% include footer.html %}
		
	</div>
</div>
